header{
    background-color: white;
}
body{
    background: linear-gradient(to bottom,pink,red);
}

h1{
    text-align: center;
    color: rgb(160, 6, 250);
}
p {
    text-align: center;
}

em strong {
    color: #FF0000;
}